@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsla(0, 0%, 100%, 0.75); /*paragraphs*/
  --clr-neutral-300: hsl(0, 0%, 95%); /*background, headings, buttons*/

  --clr-primary: hsl(31, 77%, 52%);
  --clr-secondary: hsl(184, 100%, 22%);
  --clr-tertiary: hsl(179, 100%, 13%);
}

body {
  min-height: 100vh;
  min-height: 100vh;
  min-height: 100dvh;
  line-height: 1.7;
  color: var(--clr-neutral-200);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.9375rem;
  background-color: var(--clr-neutral-300);
}

main {
  margin-top: 90px;
}

.ff-primary {
  font-family: 'Big Shoulders Display', cursive;
}

.bg-clr-primary {
  background: var(--clr-primary);
}

.bg-clr-secondary {
  background: var(--clr-secondary);
}

.bg-clr-tertiary {
  background: var(--clr-tertiary);
}

.clr-primary {
  color: var(--clr-primary);
}

.clr-secondary {
  color: var(--clr-secondary);
}

.clr-tertiary {
  color: var(--clr-tertiary);
}

.clr-accent {
  color: var(--clr-neutral-300);
}

.txt-upper {
  text-transform: uppercase;
}

.fw-bold {
  font-weight: 700;
}

.card-container {
  max-width: 100%;
  width: 325px;
  border-radius: 8px;
  overflow: hidden;
  margin-inline: auto;
}

.card-container .card {
  padding: 48px;
}

.card-container .card .car-type {
  font-size: 2.5rem;
  line-height: 1.2;
}

.card-container .card img,
.card-container .card .car-type {
  margin-bottom: 36px;
}

.card-container .card .detail {
  margin-bottom: 28px;
}
.btn {
  padding: 1em 2em;
  background: var(--clr-neutral-300);
  border-radius: 50vw;
  display: inline-block;
  line-height: 1;
  border: 2px solid var(--clr-neutral-300);
  transition: 0.35s;
}

.btn:hover {
  border: 2px solid var(--clr-neutral-300);
  background: transparent;
  color: var(--clr-neutral-300);
}

@media screen and (min-width:1024px){
  body {
    display: grid;
    place-content: center;
  }

  main {
    margin-top: 60px;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 920px;
  }

  .card-container .card .detail {
    margin-bottom: 80px;
  }
  
}